.product_card{
  width: 220px;
  height: 300px;
  border-radius: 7px;
  cursor: default;
}
.product_card_img_box{
  width: 100%;
  height: 60%;
  border-radius: 7px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  position: relative;
}
.product_card_img_box img{
  width: 100%;
  height: 100%;
}
.product_price_box{
  width: 100%;
  height: 10%;
  display: flex;
  gap: 5px;
  font-size: 18px;
  padding-top: 2px;
}
.product_price_box p{
  font-weight: 700;
}
.product_name_box{
  width: 100%;
  height: 15%;

}
.product_name_box p{
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: 0.2s;

}
.see_more_btn_box{
  width: 100%;
  height: 16%;
  //border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.see_more_btn{
  width: auto;
  height: 70%;
  background-color: #8A22C4;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px 0 25px;
  transform: skew(-30deg);
  border-radius: 7px;
  right: -100px;
  transition: 0.3s;
}
.see_more_btn a{
  color: white;
  font-size: 12px;
  transform: skew(30deg);
}
.product_card:hover .see_more_btn{
  right: 10px;
}
.see_more_btn:hover{
  background-color: #5C3591;
}
.product_like{
  width: auto;
  height: auto;
  z-index: 10;
  position: absolute;
  transition: 0.2s;
  right: -35px;
  top: 3px;
}
.product_like img{
  width: 33px;
  height: 33px;
}
.product_card:hover .product_like{
  right: 3px;
}
.product_card:hover .product_name_box p{
  color: #2D8EEA;
}