.mainContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 2px solid black;
}

.info-Child-Container{
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // border: 2px solid black;
}

.infoContainer--ImageContainer{
    width: 35%;
    height: 410px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    // border: 1px solid blue;
}

.infoContainer--TextContainer{
    width: 60%;
    height: auto;
    font-family: fantasy;
    // border: 2px solid red;
}