.product_page_cont{
  width: 100%;
  height: auto;
}
.product_page{
  width: 100%;
  height: 750px;
  display: flex;
  max-width: var(--global-max-width);
  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;
  overflow: hidden;

}
.product_images_cont{
  width: 50%;
  height: 100%;
  display: flex;
}
.product_info_cont{
  width: 50%;
  height: 100%;
  position: relative;
}
.product_small_images_cont{
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 15px;
}
.product_big_image_cont{
  width: 80%;
  height: 100%;
}
.product_big_image_cont img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.product_small_image{
  width: 100%;
  height: 20%;
}
.product_small_image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.product_snippet_cont{
  width: 100%;
  height: auto;
  display: flex;
  padding-left: 20px;

}
.product_snippet_tag{
  width: 100px;
  height: 30px;
  color: white;
  background-color: #8A22C4;
  transform: skew(-30deg);
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product_snippet_tag p{
  transform: skew(30deg);
  font-weight: 700;
  font-size: 18px;
}
.product_page_product_name_cont{
  width: 100%;
  height: auto;
  max-height: 20%;
  display: flex;
  padding-left: 20px;
  word-wrap:break-word;
}
.product_page_product_name_cont p{
  font-weight: 700;
  font-size: 25px;
}
.product_page_product_price_cont{
  width: 100%;
  height: auto;
  padding-left: 20px;
  font-weight: 700;
  font-size: 30px;
}
.product_page_product_vendor_code_cont{
  width: 100%;
  height: auto;
  color: gray;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 10px;
}
.product_page_product_description{
  width: 100%;
  height: auto;
  max-height: 50%;
  word-wrap:break-word;
  padding-left: 20px;
  color: gray;
  margin-top: 30px;
  overflow: hidden;
}
.product_page_product_buy_btn_cont{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}
.product_page_product_buy_btn{
  width: 70%;
  height: 50px;
  border: 1px solid black;
  background-color: #8A22C4;
  color: white;
  border-radius: 7px;
  font-weight: 700;
  font-size: 20px;
  transition: 0.2s;
}
.product_page_product_buy_btn:hover{
  border: 2px solid #8A22C4;
  background: none;
  color: #8A22C4;
}
.product_page_user_info_cont{
  width: 100%;
  height: 10%;
  padding-left: 20px;
}
.product_page_product_user_title{
  width: 100%;
  height: 70%;
  display: flex;
  gap: 5px;
}
.product_page_product_user_logo{
  height: 45px;
  width: 45px;
  background-color: gray;
  border-radius: 100%;
}
.product_page_product_user_logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.product_page_product_user_name{
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
}
.product_page_user_reviews_cont{
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  gap: 3px;
}
.product_page_user_reviews_cont img{
  width: 20px;
  height: 20px;
}