.main-body{
    max-width: 1300px;
    height: 385px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 2px solid black;
}

.navigation-row{
    width: 100%;
    height: 185px;
    display: flex;
    justify-content: center;
    gap: 35px;
}

.account-navigation{
    width: 262px;
    height: 185px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-top: none;
}

.myAccount-navigation-link--dashboard{
    width: 260px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
}

.dasboard-elements{
    width: 90%;
    height: 90%;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // background-color: blue;
}

.arrow_icon{
    width: 20px;
    height: 25px;
    background-position: center;
    background-size: cover;
    // border: 2px solid black;
}

.arrow_icon > img{
    width: 17px;
    height: 25px;
    object-fit: contain;
}

.dashboard_title{
    width: 210px;
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    color: #444444;
    text-decoration: none;
    // border: 2px solid pink;
}


.woocommerce-message-box{
    width: 100%;
    height: 68px;
    border-top: 2px solid #362056;
    background-color: #f7f6f7;
}

.woocommerce-elements-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // border: 1px solid black;
    padding: 0 20px 0 20px;
}

.woocommerce-message-icon{
    width: 20px;
    height: 20px;
}

.woocommerce-message-icon > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.woocommerce-message-title{
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    color: #362056;
    font-size: 15px;
}

.woocommerce-messate-goToStore-button{
    width:  147px;
    height: 37px;
    color: #9457EB;
    font-weight: 700;
    border: 1px solid #9457EB;
    border-radius: 7px;
}

.woocommerce-messate-goToStore-button:hover{
    background-color: #9457EB;
    color: white;
    transition: 0.3s;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}