.brand_slider_cont{
  width: 100%;
  height: auto;
  padding: 70px 0 70px 0;
}
.brand_slider_cont .swiper {
  width: 100%;
  display: flex;
  align-items: center;
  padding-right: 80px;
}
.brand_slider_cont .swiper .swiper-slide {
  height: 150px;
  background: lightgray;
  text-align: center;

}
.brand_slider_cont .swiper-wrapper{
  display: flex;
  align-items: center;
  gap: 10px;
}