.brand_slider_cont{
  width: 100%;
  height: auto;
  padding: 70px 0 70px 0;
}
.brand_slider_cont .swiper {
  width: 100%;
  display: flex;
  align-items: center;
}
.brand_slider_cont .swiper .swiper-slide {
  height: 150px;
  background: lightgray;
  text-align: center;
  transition: 0.2s;

}
.brand_slider_cont .swiper .swiper-slide:hover{
  opacity: 0.6;
}
.brand_slider_cont .swiper .swiper-slide a img{
  object-fit: cover;
  object-position: center;
}
