.register-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.register {
  width: 100%;
  padding: 50px 0;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.user-data {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.online-data {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user-data-register {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  input {
    height: 45px;
    border: 1px solid gray;
    padding-left: 8px;
    border-radius: 5px;
  }
}

.button-register {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.register-button {
  padding: 15px 50px;
  letter-spacing: 2px;
  font-size: 16px;
  background-color: #9457eb;
  color: white;
  border: 1px solid #9457eb;
  border-radius: 5px;
  cursor: pointer;
}
