@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    width: 100%;
    height: 55vh;
    background-color: #757bc7;
    @include flexCenter();
}

.footer-content{
    width: 1300px;
    height: 100%;
    margin: auto;
    @include flexCenter();
    gap: 40px;
}

.footer-categories{
    width: 300px;
    height: 200px;
    @include flexCenter();
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.title{
    width: 100%;
    height: auto;
    @include flexCenter();
    justify-content: flex-start;
    color: white;
    font-size: 22px;
    letter-spacing: 3px;
    font-weight: bold;
}

.category{
    width: 100%;
    height: auto;
    @include flexCenter();
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    
}

.category > a {
    color: white;
}

.category-tags{
    width: 100%;
    height: auto;
    @include flexCenter();
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.category-button {
    width: 80px;
    height: 35px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}