.media_cont{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 70px;
}
.media_row{
  width: 25%;
  height: 70px;
  background-color: #F1F1F1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 7px;
  cursor: default;
  transition: 0.2s;
}
.media_row:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.media_row_img{
  width: 30%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center;
}
.media_row_title{
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  word-wrap: break-word;
}
.media_row_title p{
  font-weight: 500;
}
.media_row1 .media_row_img{
  background-image: url("../../../../public/images/delivery.png");
}
.media_row2 .media_row_img{
  background-image: url("../../../../public/images/headphones.png");
}
.media_row3 .media_row_img{
  background-image: url("../../../../public/images/repeat.png");
}