@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign {
  width: 100%;
  padding: 50px 0;

  .sign-form {
    max-width: 682px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: auto;

    .sign-top {
      padding-top: 4px;
      @include flexCenter();
      background-color: #9457eb;
      color: white;
      font-size: 22px;
      font-weight: 600;
      border-radius: 5px;
    }

    .sign-content {
      width: 100%;
      padding: 40px 30px;
      padding-top: 80px;
    }
  }
}
