.main{
  width: 76%;
  height: auto;
  padding: 0 0 0 30px;
  background-color: white;
}
.main_top_content{
  width: 100%;
  margin-top: 40px;
  padding: 0 30px 0 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}