@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  padding-top: 24px;
}

.header-content {
  max-width: var(--global-max-width);
  height: 100%;
  align-items: flex-start;
  margin: auto;
  flex-direction: column;
}

.header-top-content {
  width: 100%;
  height: 100%;
  @include flexCenter();
  gap: 35px;
  justify-content: flex-start;
}

.logo {
  width: 25%;
  height: 60%;
  @include flexCenter();
  justify-content: flex-start;

  img {
    width: 250px;
    height: 60px;
    cursor: pointer;
  }
}

.search {
  width: 700px;
  height: 60%;
  @include flexCenter();
  justify-content: flex-start;
}

.search-input {
  width: 500px;
  height: 45px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-left: 10px;
  border: 1px solid gray;
  font-size: 16px;
}

.all-sections {
  width: 250px;
  height: 45px;
  border: 1px solid gray;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  @include flexCenter();
  gap: 15px;
  justify-content: flex-end;
  border-left: none;
  cursor: pointer;
}

.arrows {
  width: 70%;
  height: 100%;
  @include flexCenter();
  gap: 15px;
  cursor: pointer;
  position: relative;
}

.sections {
  width: 250px;
  height: 150px;
  background-color: white;
  background-clip: padding-box;
  position: absolute;
  @include flexCenter();
  flex-direction: column;
  align-items: flex-start;
  top: 44px;
  left: -100px;
  border: 1px solid #9457eb;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border: 2px solid rgba(0, 0, 0, 0.15);
}

.sectionsLink {
  width: 100%;
  height: 45px;
  padding-left: 15px;
  @include flexCenter();
  justify-content: flex-start;
  cursor: pointer;
  transition: 0.5s;
}

.sectionsLink:hover {
  background-color: #8a1ac7;
}

.sectionsLink:hover > a {
  color: white;
}

.search-logo {
  width: 50px;
  height: 100%;
  transition: 0.5s;
  cursor: pointer;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  @include flexCenter();
  font-size: 25px;
  color: #8a1ac7;
}

.search-logo:hover {
  color: white;
  background-color: #8a1ac7;
}

.likes {
  width: 10%;
  height: 100%;
  @include flexCenter();
  font-size: 30px;

  .heart {
    cursor: pointer;
    color: #8a1ac7;
  }
}

.header-bottom-content {
  margin-top: 32px;
  width: 80%;
  height: auto;
  @include flexCenter();

  .menu {
    width: 100%;
    height: 100%;
    @include flexCenter();
    gap: 20px;
  }

  .menu > a {
    transition: 0.5s;
  }
}
