.filter_section{
    width: 100%;
    height: auto;
    border: 4px solid black;
}

.section_title{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 600;
    // border: 1px solid black;
}

.title-left-path{
    width: 50px;
    height: 4px;
    border-top: 1px solid #b6b6b6;
    border-bottom: 1px solid #b6b6b6;
    background: transparent;
}

.title-right-path{
    width: 50px;
    height: 4px;
    border-top: 1px solid #b6b6b6;
    border-bottom: 1px solid #b6b6b6;
    background: transparent;
    // background-color: blue;
}

.filtered_Items{
    width: 100%;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    // border: 3px solid black;
}

.filtered_Section{
    width: 100%;
    height: auto;
    border: 2px solid red;
}