
.top_products_slider{
  width: 260px;
  height: 250px;
  //border: 1px solid black;
  border-radius: 7px;
  padding: 10px;
  background-color: #FAFAFA;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}
.swiper {
  width: 80%;
  height: 100%;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  border-radius: 7px;
  background-color: lightgray;
  overflow: hidden;
}
.top_products_slider .swiper-slide a{
  width: 100%;
  height: 100%;
}
.top_products_slider .swiper-slide a img{
  object-fit: cover;
  object-position: center;
}
