.Left_side_bar_categories{
  width: 100%;
  height: auto;
  position: relative;
  padding: 10px 0 0 0;
  border-radius: 7px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  overflow: hidden;
  padding-left: 40px;
}
.categories_all a{
  color: #2D8EEA;
  font-size: 19px;
  padding-left: 10px;
}
.Left_side_bar_categories_border_style{
  width: 170px;
  height: 51px;
  border-top-left-radius: 20%;
  border-top: 1.5px solid #2D8EEA;
  position: absolute;
  top: 45px;
  left: 15px;
  z-index: 1;
}
.Left_side_bar_categories ul{
  margin-top: 30px;
  gap: 5px;
}
.Left_side_bar_categories ul li{
  list-style: none;
  cursor: pointer;
  border-left: 1px solid transparent;
  color: black;
  position: relative;
  font-size: 16px;
  z-index: 2;
  margin-bottom: 5px;
}
.Left_side_bar_categories ul li a{
  display: flex;
  align-items: center;
  gap: 15px;
}
.categories_icon_cont{
  width: 70px;
  height: 40px;
  border: 2px solid #8A22C4;
  transform: skew(-30deg);
  margin-left: -12px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: none;
}
.categories_icon_cont:before{
  content: '';
  display: block;
  transition: all 0.2s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-left: 2px solid #8A22C4;
}
.Left_side_bar_categories ul li:hover a{
  color: #2D8EEA;
}
.Left_side_bar_categories ul li:hover .categories_icon_cont:before{
  height: 100%;
}
.Left_side_bar_categories ul li:hover:before{
  height: 100%;
}
.category_icon{
  height: 75%;
  width: 45%;
  transform: skew(30deg);
}
.category_icon img{
  width: 100%;
  height: 100%;
}