.swiper{
  width: 100%;
  height: 350px;
  border-radius: 7px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.swiper img{
  width: 100%;
  height: 100%;
}
.slider_content{
  width: 100%;
  height: 100%;
  background-image: url("../../../../../public/images/slider-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 0 200px 0 200px;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.slider_content_text_area{
  padding: 10px;
  background: rgba(255, 255, 255, 0.18);
  font-weight: 500;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #f8f8f8;
  border-radius: 7px;
}
.slider_content_btn{
  width: auto;
  height: 45px;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.18);
  border: 1px solid #fff;
  color: #f8f8f8;
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  padding: 10px 20px 10px 20px;
  font-size: 18px;
  transition: 0.2s;
  text-transform: uppercase;
  gap: 5px;
}
.slider_content_btn:hover{
  background-color: #8A22C434;
}
.slider_btn_icon{
  width: 23px;
  height: 23px;
  background-image: url("../../../../../public/images/arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}