.slider{
  width: 100%;
  height: 350px;
  border-radius: 7px;
  overflow: hidden;
  padding: 25px;
  position: relative;
}
.slider_blure{
  background-color: #8A22C426;
  backdrop-filter: blur(10px);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.slider .swiper{
  width: 100%;
  height: 100%;
}
.slider .swiper-slide{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}
.swiper img{
  width: 100%;
  height: 100%;
}
.swiper-button-next:after{
  color: #8A22C4;
}
.swiper-button-prev:after{
  color: #8A22C4;
}
.swiper-button-next:after{
  padding: 7px;
  border-radius: 7px;
  background-color: #8A22C43A;
}
.swiper-button-prev:after{
  padding: 7px;
  border-radius: 7px;
  background-color: #8A22C43A;
}
.swiper-pagination-bullet-active{
  background-color: #8A22C4FF;
}