.page_banner{
  width: 100%;
  height: 70px;
  background: linear-gradient(-45deg, #2D8EEA, #8E94F2, #BBADFF, #308AE4);
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
}
@keyframes Gradient {
0% {
   background-position: 0% 50%;
 }
50% {
    background-position: 100% 50%;
  }
100% {
     background-position: 0% 50%;
   }
}