.product_area_cont{
  width: 100%;
  height: auto;
  margin-top: 20px;
}
.product_area_title{
  width: 100%;
  height: 50px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px 0 25px;
  background-color: #FAFAFA;
  margin-bottom: 20px;
}
.product_area_title p{
  font-size: 18px;
  font-weight: 700;

}
.see_all_btn{
  width: auto;
  height: 70%;
  padding: 0 15px 0 15px;
  background-color: #8A22C4;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 7px;
  transform: skew(-30deg);
}
.see_all_btn:hover{
  background-color: #5C3591;
}
.see_all_btn a p{
  color: white;
  font-weight: 300;
  font-size: 15px;
  transform: skew(30deg);
}
.product_area{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}